.ipynb_checkpoints
/tfodapi
/Dataset
/training_models/models/*/eval
/training_models/models/*/train
/training_models/models/*/*.index
/training_models/models/*/*.data*
/training_models/models/*/checkpoint
/training_models/.ipynb_checkpoints
/training_models/images
/training_models/pre-trained-models
/training_models/models/salvaged
/training_models/models/v3
/training_models/exported-models/custom-resnet50-retinanet-640-2
/training_models/exported-models/custom-resnet50-retinanet-640-3
/training_models/exported-models/custom-resnet50-retinanet-640-4
/training_models/exported-models/ssd-v5
/training_models/exported-models/v4
/training_models/exported-models/v4-2